Brotli
cachetools
certifi
cffi
charset-normalizer
cssselect2
fonttools
google-auth
google-auth-oauthlib
gspread
idna
Jinja2
MarkupSafe
numpy
oauthlib
pandas
pillow
pyasn1
pyasn1_modules
pycparser
pydyf
pyphen
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
pytz
requests
requests-oauthlib
rsa
shiboken6
six
tinycss2
tinyhtml5
tzdata
urllib3
weasyprint
webencodings
zopfli
