Brotli==1.1.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cssselect2==0.8.0
fonttools==4.57.0
google-auth==2.39.0
google-auth-oauthlib==1.2.2
gspread==6.2.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.5
oauthlib==3.2.2
pandas==2.2.3
pillow==11.2.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
shiboken6==6.9.0
six==1.17.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
urllib3==2.4.0
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
